body{
    margin: 0;
    background-color: #e7dada;
}
header{
    background-color: #0cf5c7;
    padding: 50px 0;
    box-shadow: 0px 5px 10px rgb(82, 82, 82);
}
header h1 {
    text-align: center;
    color: #e8f1ed;
}
 
section{
    margin: 0 auto;
    width: 300px;
}
div{
    background-color: white;
    width: 300px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}
div:hover{
    box-shadow: 5px 10px 10px black;
}
div img{
    width: 100%;
}

footer{
    background-color: #46FFFC; 
    padding: 50px;
    text-align: center;
    margin-top: 50px;
}

footer p {
    font-size: 20px;
}

/* estilo de fondo */

